/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    left: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    right: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
  padding-bottom: 20px;
}

.container .credit {
  margin: 20px 0;
}

.login{
  margin: 40% auto;
}

.register{
  margin: 20% auto;
}

.form-heading{
  text-align: center;
  margin: 0 0 20px 0;
}

.toggle-nav{
  margin: 15px 0;
  padding-left: 20px;
  text-align: center;
  position: relative;
  float: left;
  cursor: pointer;
  z-index: 9999;
}

.avatar{
  width: 64px;
  margin-bottom: 10px;
}